In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
inputs=data.drop(['Pregnancies','Outcome'],'columns')
inputs

C:\Users\DELL\AppData\Local\Temp\ipykernel_8088\1560030041.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['Pregnancies','Outcome'],'columns')

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,72,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,32
3,89,66,23,94,28.1,0.167,21
4,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [7]:
output=data.drop(['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Pregnancies'],'columns')
output

C:\Users\DELL\AppData\Local\Temp\ipykernel_8088\1572577522.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Pregnancies'],'columns')

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [8]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['BMI']= label_encoder.fit_transform(data['BMI'])
data['BMI'].unique()
data['DiabetesPedigreeFunction']= label_encoder.fit_transform(data['DiabetesPedigreeFunction'])
data['DiabetesPedigreeFunction'].unique()

array([350, 196, 368,  53, 514,  80, 118,  23,  44, 103,  72, 306, 504,
       225, 331, 276, 314, 123,  66, 302, 385, 218, 259, 132,  83, 126,
       278, 115, 185, 311, 436, 135,  69, 293, 463, 241, 366, 289, 500,
       139, 380, 106, 392, 155, 512, 320, 330, 191, 164, 280, 299, 189,
       270, 390, 462, 511,  56, 163, 138, 382, 127,  81, 437, 435, 182,
        70, 439, 235, 329, 102, 224,  28, 220, 207, 166,   9, 413, 108,
        99, 381,  61, 174,  39,  51, 255, 130, 141, 411, 124,  21, 173,
       199, 175, 490,  62, 131, 146, 454, 418,  85, 150, 184, 117,  78,
       309,  73, 332, 307,  93, 361,  96, 410, 129, 231,  67, 142, 283,
       260, 230, 403, 201, 477, 264, 358,   3, 336, 303, 384,  45, 136,
       149, 171, 140, 324,   6, 503,  91,   2, 226, 249, 487, 376,  26,
       354, 432, 100, 425,  82, 206, 405, 393, 125, 387, 271, 282,  63,
       308, 415, 372, 391, 215, 172,  71, 461,   1, 394, 159, 114, 407,
       346, 498, 355,  30, 209, 216, 326,  25, 223,  68, 450,  37, 441,
       107, 417, 232, 340,  38, 151, 198, 152, 210,  50, 248, 404, 294,
       267, 491, 472, 421,  86, 367,   8,  77, 360, 515,   4, 356, 109,
       222, 154, 273, 375, 430, 328, 257, 229, 497, 178, 489, 246, 145,
        31, 213, 147, 119, 453, 316,   5, 362, 499, 343,  79,  98, 466,
       456, 476,   0, 111, 479,  19, 243, 120, 371, 157, 262, 406, 445,
       144, 128, 347, 422, 187, 251, 409, 344, 377, 297, 236, 434, 433,
        42,  89, 176, 501, 442, 167, 250, 349, 478, 169, 192,  20, 300,
        76, 397,  35,  16,  18,  15, 506,  52, 455, 190, 448, 180, 272,
       369, 219, 277, 195, 143, 193, 121, 113, 327, 317, 161, 322, 212,
       217, 286, 165, 105, 513, 510, 310,  97, 424, 301, 291, 468, 426,
       458, 494,  94, 364, 110, 459, 256, 266, 419, 507, 457,  75, 112,
        47,  24, 211, 488, 383, 370, 473, 304, 474, 315, 348,  92, 290,
       319, 242, 296, 133, 177, 104,  11, 480,  34, 395, 252, 284, 101,
       460, 516, 363, 179, 292, 148, 237, 214, 431, 285,  88, 203, 467,
       265, 399, 238, 386, 469, 137, 338, 323, 341,  54,  87,  17, 388,
       269,  48, 240, 352, 204, 305, 483, 351, 153,  33, 481,  57, 312,
        49, 402, 168, 464, 234, 158, 298,  40, 414,  10, 281, 389, 451,
       287, 492, 401, 420, 365, 313, 427, 244, 470,  46, 188, 373, 333,
       160,  14, 288, 228, 339, 408, 186, 247, 447, 423, 378, 325, 208,
        84, 239, 482, 452,  58, 509, 374,  74, 227,   7, 493, 274,  27,
       334, 443,  43, 495,  29, 116, 508, 505, 194, 202, 221,  32, 398,
        12, 268, 359, 440,  36, 379, 162, 342, 396, 258, 263,  22,  41,
       484, 496,  65, 502,  90, 353, 444, 345, 181, 205,  64, 429, 183,
       438, 446, 253, 122, 337, 449, 275, 321,  13,  60,  59, 156, 254,
       197, 428, 465, 335, 170, 134, 357, 245, 318, 295, 261, 416, 400,
       485, 279, 200, 475, 233, 486,  95, 471, 412,  55], dtype=int64)

In [15]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,123,350,50,1
1,1,85,66,29,0,62,196,31,0
2,8,183,64,0,0,30,368,32,1
3,1,89,66,23,94,77,53,21,0
4,0,137,40,35,168,209,514,33,1

In [9]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(inputs,output,train_size=0.8)
x_train

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
403,72,78,25,0,31.6,0.280,38
144,154,62,31,284,32.8,0.237,23
235,171,72,0,0,43.6,0.479,26
316,99,80,11,64,19.3,0.284,30
198,109,64,44,99,34.8,0.905,26
...,...,...,...,...,...,...,...
213,140,65,26,130,42.6,0.431,24
696,169,74,19,125,29.9,0.268,31
114,160,54,32,175,30.5,0.588,39
305,120,76,37,105,39.7,0.215,29
311,106,70,37,148,39.4,0.605,22

In [10]:
import sklearn
from sklearn.svm import SVC
model = SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1],
      dtype=int64)

In [11]:
acc=model.score(inputs,output)
print("acc:",acc*100)

acc: 76.953125